# Dependências
node_modules/
package-lock.json


# Variáveis de ambiente e senhas
.env
.env.local
.env.development
.env.test
.env.production
uploads/

# Logs e debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.postman/
logs
*.log
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

# Diretórios de build/compilação (se for usar Typescript) 
dist/
build/

# Cobertura de testes
coverage/

# Arquivos gerados SO
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?